<!DOCTYPE html>
<html>
<head>
    <title>"InstaServer - @ViewData["Title"]"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">InstaServer - Admin Panel</span>
        </nav>
    </header>
    <main style="margin-top: 20px;">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
